<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <span>Published <%= blog.created.toDateString() %></span>
    <div class="ui top attached segment">
        <div class="item">
            <div class="content">
                <p><img class="ui centered rounded image" src="<%= blog.image %>"></p>
                <div class="description">
                    <p><%- blog.body %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <a class="ui blue basic button" href="/blogs">Back</a>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>

<% include partials/footer %>
