<h1>Search Results:</h1>

<% results.forEach(function(movie) { %>
<p>
<strong><a href="<%= movie.Image %>"><%= movie.Title %></a></strong> (<%= movie.Year %>)<br>
Category: <%= movie.Genre %><br>
IMDB: <%= movie.Rating %>/10
<hr>
</p>
<% }); %>

<a href="/">Search Again!</a>
